// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.headline{
  text-align: center;
}


.form-body {
  padding: 30px;
}
.form-error{
  color: #ff4d75;
}


